.Rhistory
.RData
*~
**/*~
*.o
*.dll
*.Rout
*.Rproj*
*.swp

## symbolic links to data directories
annotationData
cnRegionData
probeData
plmData
rawData
totalAndFracBData
wholeGenomeData
png
data
output
geoData
c3co-results

## OS X
.DS_Store
.Rproj.user
