.Rhistory
.RData
*~
**/*~
*.o
*.dll
*.Rout
*.Rproj*
*.swp
.local

## symbolic links to data directories
annotationData
cnRegionData
probeData
plmData
rawData
totalAndFracBData
wholeGenomeData
png
data
output
geoData


## OS X
.DS_Store
.Rproj.user
